<!-- footer -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; 2025. All Rights Reserved.</h6>
</nav>

<!-- Scripts -->
<script src="/script/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

