<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main>
  <div class="jumbotron jumbotron-fluid text-center bg-light">
    <div class="container py-4">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">
        My name is Piratheesh Gunaseelan. I am a student at Ontario Tech University
        aspiring to pursue a career in Cybersecurity.
      </p>
    </div>
  </div>

  <section class="text-center my-4">
    <img src="/images/ocean.png" alt="Ocean scenery" class="img-fluid rounded shadow-sm" style="max-width:900px;">
  </section>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
